.navbar-fixed {
    height: 100px;
}

.top-nav {
    box-shadow: none;
    background-color: #7fa1d8;

}
.side-nav {
    background-color: #f2f2f2
}

body {
    background-image: url("https://static.pexels.com/photos/436784/pexels-photo-436784.jpeg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sectionTitle {
    font-weight: bold;
    font-size: 3em;
    text-shadow: 3px 3px #7fa1d8;
    color: white;
}

.icon {
    padding-left: 10px;
}